@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(240, 33%, 97%) !important;
  box-sizing: border-box;
}

#root {
  height: 100%;
  box-sizing: border-box;
}
